
body {
    background-color: #ffffff;
    margin: 10px;
    padding: 0;
    font-family:Arial, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(164,164,255,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);    
    padding-top: 50px;
    text-align: center ;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
}

.instruction{
    margin-top: 70px;
}

h1{
    padding-bottom: 100px;
}

button{
    padding: 20px;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background: blue;
    color: white;
    border-color: #ffffff00;
}